.page {
  min-height: calc(100dvh - 56px);
  padding: 26px;
  display: flex;
  flex-direction: column;
}

.subtitle {
  margin-bottom: 0;
}

.actions {
  margin-top: auto;
  display: grid;
  gap: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  margin-top: 20px;
}