.page {
  min-height: calc(100dvh - 56px);
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle {
  margin-bottom: 0;
}

.actions {
  margin-top: auto;
  display: grid;
  gap: 12px;
}

.form {
  display: grid;
  gap: 10px;
  margin-top: auto;
}