:host {
    --bottom-bar-h: 100px;
    --fab-size: 60px;
    --bottom-wrap-h: calc(var(--bottom-bar-h) + (var(--fab-size) / 2));
}

.container {
    height: 100dvh;
}

.toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
}

.content {
    padding: 26px;
    max-width: 1100px;
    margin: 0 auto;
}

.content--mobile {
    padding-bottom: calc(16px + var(--bottom-wrap-h) + env(safe-area-inset-bottom));
    max-width: 100%;
}

/* ===== DESKTOP sidenav ===== */

.sidenav {
    width: 280px;
    padding: 12px;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    padding: 12px;
}

.spacer {
    flex: 1 1 auto;
}

.user {
    padding: 12px;
    opacity: 0.8;
}

.account {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 10px;
    border-radius: 14px;
    text-decoration: none;
    color: inherit;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 999px;
    display: grid;
    place-items: center;
    font-weight: 800;
    background: #835de1;
    color: white;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: medium;
}

.account-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.account-name {
    font-weight: 600;
    font-size: 16px;
}

.logout-btn {
    border-radius: 12px;
}

/* ===== Mobile Bottom Navigation===== */

.bottom-nav-wrap {
    width: 100%;
    position: fixed;
    bottom: calc(env(safe-area-inset-bottom));
    height: var(--bottom-wrap-h);
    z-index: 20;
    overflow: visible;
}

.bottom-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--bottom-bar-h);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    align-items: center;

    backdrop-filter: blur(14px);
    padding: 10px 10px;

    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.18);
    color: var(--mat-sys-on-surface-variant, rgba(0,0,0,.6));
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    text-decoration: none;
    color: inherit;

    border-radius: 16px;
    padding: 8px 6px;

    font-size: 12px;
    font-weight: 300;
    opacity: 0.82;
}

.tab--active {
    opacity: 1;
    color: var(--mat-sys-primary);
}

.fab {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    width: var(--fab-size);
    height: var(--fab-size);
    border-radius: 999px;
    box-shadow:
        0 0 0 0 var(--mat-sys-surface, #fff),
        0 18px 40px rgba(0, 0, 0, 0.25);
    z-index: 21;
}

.fab-icon {
    margin: 0;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.tab, .fab, button, a {
    -webkit-tap-highlight-color: transparent;
}

ui-icon-desc {
    margin-right: 12px;
}