/* ui-icon.component.scss */

:host {
    --ui-icon-size: 20px;
    display: inline-flex;
    line-height: 0;
}

.ui-icon {
    width: var(--ui-icon-size);
    height: var(--ui-icon-size);
    display: inline-block;
}

:host([data-size="sm"]) { --ui-icon-size: 16px; }
:host([data-size="md"]) { --ui-icon-size: 20px; }
:host([data-size="lg"]) { --ui-icon-size: 24px; }
:host([data-size="hg"]) { --ui-icon-size: 40px; }
