:host {
    display: inline-flex;
    line-height: 0;
}

.ui-icon {
    display: inline-block;
}

:host([data-size="sm"]) .ui-icon { width: 16px; height: 16px; }
:host([data-size="md"]) .ui-icon { width: 20px; height: 20px; }
:host([data-size="lg"]) .ui-icon { width: 24px; height: 24px; }
:host([data-size="hg"]) .ui-icon { width: 40px; height: 40px; }
