*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

body {
    margin: 0;
    font: var(--mat-sys-body-medium);
}

h1 {
    font: var(--mat-sys-headline-large);
    letter-spacing: var(--mat-sys-headline-large-tracking);
}

h2 {
    font: var(--mat-sys-headline-medium);
    letter-spacing: var(--mat-sys-headline-medium-tracking);
}

h3 {
    font: var(--mat-sys-headline-small);
    letter-spacing: var(--mat-sys-headline-small-tracking);
}

p {
    font: var(--mat-sys-body-medium);
    letter-spacing: var(--mat-sys-body-medium-tracking);
}

small {
    font: var(--mat-sys-body-small);
    letter-spacing: var(--mat-sys-body-small-tracking);
}
