/* src/styles/_base.scss */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: var(--app-bg);
    color: var(--app-ink);
    font-family: var(--app-font-family);
    font-size: var(--app-font-size);
}

body {
    margin: 0;
    font: var(--mat-sys-body-medium);
    font-size: var(--app-font-size);
}

h1 {
    font: var(--mat-sys-headline-large);
    letter-spacing: var(--mat-sys-headline-large-tracking);
}

h2 {
    font: var(--mat-sys-headline-medium);
    letter-spacing: var(--mat-sys-headline-medium-tracking);
}

h3 {
    font: var(--mat-sys-headline-small);
    letter-spacing: var(--mat-sys-headline-small-tracking);
}

p {
    font: var(--mat-sys-body-medium);
    letter-spacing: var(--mat-sys-body-medium-tracking);
}

small {
    font: var(--mat-sys-body-small);
    letter-spacing: var(--mat-sys-body-small-tracking);
}
