/* src/styles/_fonts.scss */

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-lightitalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-regularitalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-mediumitalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-semibolditalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/fonts/sf-pro-display/sf-pro-display-bolditalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}