/* src/styles/_material-theme.scss */

@use '@angular/material' as mat;
@use './theme-colors' as m3;
@use './tokens' as t;

html {
  color-scheme: light;

  @include mat.theme((
    color: (
      primary: m3.$primary-palette,
      tertiary: m3.$tertiary-palette,
    ),
    typography: t.$app-font-family,
    density: 0,
  ));
}