/* Типографика */
$app-font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

/* UI */
$app-radius-md: 12px;
$app-radius-lg: 16px;

:root {
  /* typography */
  --app-font-family: #{$app-font-family};

  /* ui */
  --app-radius-md: #{$app-radius-md};
  --app-radius-lg: #{$app-radius-lg};

  /* semantic aliases -> Material system variables */
  --app-primary: var(--mat-sys-primary);
  --app-accent: var(--mat-sys-tertiary);

  --app-bg: var(--mat-sys-surface);
  --app-text: var(--mat-sys-on-surface);

  /* утилиты (по желанию) */
  --app-color-white: #fff;
  --app-color-black: #1C1C1E;
}
