/* src/styles/_tokens.scss */

/* Типографика */
$app-font-family: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$app-font-size: 16px;
$app-ink: #1a1c1c;

/* UI */
$app-radius-sm: 10px;
$app-radius-md: 12px;
$app-radius-lg: 16px;
$app-radius-pill: 999px;

/* Spacing */
$app-space-1: 4px;
$app-space-2: 8px;
$app-space-3: 12px;
$app-space-4: 16px;
$app-space-5: 20px;
$app-space-6: 28px;

/* Shadows */
$app-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.06), 0 10px 30px rgba(0, 0, 0, 0.08);

:root {
  /* typography */
  --app-font-family: #{$app-font-family};
  --app-font-size: #{$app-font-size};

  /* ink */
  --app-ink: #{$app-ink};
  --app-color-white: #fff;
  --app-color-black: #{$app-ink};

  /* radius */
  --app-radius-sm: #{$app-radius-sm};
  --app-radius-md: #{$app-radius-md};
  --app-radius-lg: #{$app-radius-lg};
  --app-radius-pill: #{$app-radius-pill};

  /* spacing */
  --app-space-1: #{$app-space-1};
  --app-space-2: #{$app-space-2};
  --app-space-3: #{$app-space-3};
  --app-space-4: #{$app-space-4};
  --app-space-5: #{$app-space-5};
  --app-space-6: #{$app-space-6};

  /* shadows */
  --app-shadow-1: #{$app-shadow-1};

  /* semantic aliases -> Material system variables */
  --app-primary: var(--mat-sys-primary);
  --app-accent: var(--mat-sys-tertiary);

  --app-bg: var(--mat-sys-surface);
  --app-text: var(--mat-sys-on-surface);
}
