<div class="page">
  <h1 class="title">Войти в CoupleNotes</h1>

  <form class="form" [formGroup]="form" (ngSubmit)="submit()">

    <div class="fields">
      <ui-input
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="email">
      </ui-input>

      <ui-input
        formControlName="password"
        type="password"
        placeholder="Пароль"
        autocomplete="current-password">
      </ui-input>
    </div>

    @if (error()) {
      <div class="form-error" role="alert">
        {{ error() }}
      </div>
    }

    <div class="actions">
      <ui-button
        [full]="true"
        variant="primary"
        type="submit"
        [disabled]="form.invalid"
        [loading]="loading()">
        ВОЙТИ
      </ui-button>

      <ui-button
        [full]="true"
        variant="outline"
        type="button"
        [disabled]="loading()"
        routerLink="/auth/register">
        ЗАРЕГИСТРИРОВАТЬСЯ
      </ui-button>
    </div>

  </form>
</div>
