<div class="ui-input-wrap">
  <mat-form-field
    class="ui-input"
    appearance="outline"
    subscriptSizing="dynamic"
    [class.ui-input--invalid]="isInvalid"
    [class.ui-input--disabled]="disabled">

    <input
      matInput
      [type]="type"
      [placeholder]="placeholder"
      [autocomplete]="autocomplete"
      [disabled]="disabled"
      [value]="value"
      (input)="onInput($event)"
      (blur)="markTouched()"
      [attr.aria-label]="ariaLabel || placeholder"/>
  </mat-form-field>

  @if (errorMessage) {
    <div class="ui-input__sub ui-input__error">{{ errorMessage }}</div>
  } @else if (hint) {
    <div class="ui-input__sub ui-input__hint">{{ hint }}</div>
  }
</div>
