<div class="page">

  <app-pair-setup-progress [currentStep]="1" [currentStepLabel]="'Выберите способ создания пары'"></app-pair-setup-progress>

  <p class="subtitle">Добро пожаловать - теперь вы с нами 🎉</p>
  <p class="subtitle">Осталось совсем немного: подключить партнёра любым удобным для вас способом. Отправьте свой код или введите код, который получили от партнера.</p>
  <p class="subtitle">После этого вы сможете пользоваться общими заметками и другими функциями приложения!</p>

  <div class="actions">
    <ui-button
      class="ui-btn--h56 ui-btn--no-dim"
      [full]="true"
      variant="primary"
      type="button"
      routerLink="/app/pair-setup/invite">
      СОЗДАТЬ И ОТПРАВИТЬ КОД
    </ui-button>

    <ui-button
      class="ui-btn--h56 ui-btn--no-dim"
      [full]="true"
      variant="outline"
      type="button"
      routerLink="/app/pair-setup/join">
      ВВЕСТИ КОД ПАРТНЁРА
    </ui-button>
  </div>
</div>