<div class="page">
  <h1 class="title">Подключите партнёра</h1>
  <p class="subtitle">
    Чтобы открыть заметки и остальные функции, нужно создать пару.
  </p>

  <div class="actions">
    <ui-button
      class="ui-btn--h56 ui-btn--no-dim"
      [full]="true"
      variant="primary"
      type="button"
      routerLink="/app/pair-setup/invite">
      ПРИГЛАСИТЬ ПАРТНЕРА
    </ui-button>

    <ui-button
      class="ui-btn--h56 ui-btn--no-dim"
      [full]="true"
      variant="outline"
      type="button"
      routerLink="/app/pair-setup/join">
      ПРИСОЕДЕНИТЬСЯ ПО КОДУ
    </ui-button>
  </div>
</div>