/* src/styles.scss */
@use './styles/fonts';
@use './styles/tokens';
@use './styles/material-theme';
@use './styles/base';

.mdc-list-item__primary-text {
    display: flex;
}

.mdc-button__label {
    display: flex;
    align-items: center;
}
